<style>
        body {
            font-family: Montserrat, sans-serif;
        }

        p, li {
            color: #323f3a;
        }

        h1, h3, .trybe-green {
            color: #11a36a;
        }

        #ceo {
            background-color: orange;
        }

        .picture {
            border-radius: 50%;
        }

        .button {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            background-color: #11a36a;
            padding: 10px 30px;
            text-decoration: none;
            border-radius: 8px;
        }

        li {
            list-style-type: "\1F680";
        }
    </style>